<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.puppyhome.backend.mapper.MessageMapper">
    <select id="selectFromUserByToID" resultType="com.puppyhome.backend.pojo.User">
        SELECT f.*
        FROM message msg
                 LEFT JOIN user f ON f.id = msg.fromId
        WHERE msg.toId = #{toId};
    </select>
    <select id="selectDogByToId" resultType="com.puppyhome.backend.pojo.Dog">
        SELECT d.*
        FROM message msg
                 LEFT JOIN dog d ON d.id = msg.dogId
        WHERE msg.toId = #{toId};
    </select>
    <select id="selectStateByToId" resultType="java.lang.Integer">
        SELECT msg.state
        FROM message msg
        WHERE msg.toId = #{toId};
    </select>
    <select id="selectToUserByFromID" resultType="com.puppyhome.backend.pojo.User">
        SELECT t.*
        FROM message msg
                 LEFT JOIN user t ON t.id = msg.toId
        WHERE msg.fromId = #{fromId};
    </select>
    <select id="selectDogByFromId" resultType="com.puppyhome.backend.pojo.Dog">
        SELECT d.*
        FROM message msg
                 LEFT JOIN dog d ON d.id = msg.dogId
        WHERE msg.fromId = #{fromId};
    </select>
    <select id="selectStateByFromId" resultType="java.lang.Integer">
        SELECT msg.state
        FROM message msg
        WHERE msg.fromId = #{fromId};
    </select>
</mapper>